{% extends 'base.html.twig' %}
{% block title %}
New Diff
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
            	<h1>New Comparison</h1>
            	<br/>
				{{ form_start(form) }}
					{{ form_widget(form) }}
				{{ form_end(form) }}
            </div>
        </div>
    </div>
{% endblock %}
